:root {
    --text-gray-color: rgba(151, 151, 151, 0.822);
    --button-type-color: rgb(65, 201, 201);
    --text-white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Monserart', sans-serif;
    color: rgba(32, 31, 31, 0.945);
}

p {
    font-size: 14px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgba(32, 31, 31, 0.945);
}

a:hover {
    color: var(--text-gray-color);
}

.init {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('./assets/images/bg-header-desktop.png');
    background-size: auto 100%;
}

.icon-i {
    font-size: 120px;
    font-weight: bold;
    color: rgb(60, 211, 211);
}

.text-init {
    margin-top: 25px;
    gap: 40px;
}

.text-init p {
    color: var(--text-gray-color);
}

.button-init {
    display: flex;
    align-self: center;
    gap: 40px;
}

.button1,
.button2 {
    margin-top: 40px;
    border: none;
    padding: 12px;
    text-align: center;
    border-radius: 15px;
    background: rgb(60, 211, 211);
    color: var(--text-white-color);
    font-weight: bold;
}

.button1 {
    box-shadow: 3.2px 4px 1px var(--button-type-color);
}

.button2 {
    background: rgb(56, 56, 187);
    box-shadow: 3.2px 4px 1px rgb(56, 56, 187);
}

.button1:hover,
.button2:hover {
    color: #000;
    cursor: pointer;
    padding: 10px;
    transition: 1s;
}

.text-content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.text-content p {
    color: var(--text-gray-color);
}

.computer-text {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.text-content-computer {
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 40px;
}

.text-content-computer p {
    color: var(--text-gray-color);
}

.content2 {
    display: flex;
    margin-top: 40px;
    align-items: center;
    flex-direction: column;
}

.text-content2 {
    text-align: center;
    padding: 80px;
}

.text-content2 p {
    margin-top: 20px;
    color: var(--text-gray-color);
}

.content3 {
    margin-top: 40px;
    gap: 20px;
    text-align: center;
}

.text-content3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-content3 p {
    color: var(--text-gray-color);
}

.icons-list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin: 30px;
    justify-content: center;
}

.icons-list img {
    margin-top: 30px;
}

.icons-list h3 {
    margin-top: 20px;
}

.icons-list p {
    margin-top: 10px;
    color: var(--text-gray-color)
}

.icons-logo {
    display: flex;
    margin: 80px;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

.icons-logo img {
    width: 15%;
    display: flex;
    gap: 50px;
}

.content4 {
    display: flex;
    flex-direction: column;
}

.text-content4 {
    margin-top: 100px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    text-align: center;
}

.text-content4 p {
    color: var(--text-gray-color);
}

.end {
    margin-top: 100px;
}

.navbar {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    background: rgba(240, 197, 118, 0.527);
}

.icon-e i {
    display: flex;
    font-size: 80px;
    color: rgb(60, 211, 211);
}

.options ul {
    margin: 35px;
    display: flex;
    gap: 20px;
}

.icons-social-media-e img {
    margin-top: 30px;
    gap: 10px;
}

@media (max-width:768px) {
    a {
        text-align: center;
    }
    .text-init {
        padding: 20px;
    }
    .button-init {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .computer-img img,
    .img-content2 img {
        max-width: 80%;
        margin-left: 50px;
    }
    .text-content-computer {
        margin-top: 100px;
        gap: 40px;
    }
    .icons-logo img {
        margin-top: 40px;
        width: 30%;
        display: flex;
        flex-wrap: wrap;
    }
    .navbar {
        flex-wrap: wrap;
    }
    .options ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
}

@media(max-width:480px) {
    .icons-logo img {
        margin-top: 40px;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }
    .button-init {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 60%;
    }
    .button1 {
        width: 100%;
    }
}